In [4]:
import pandas as pd

In [5]:
dados = pd.read_csv('manutencao_preditiva.csv')
dados

,UDI,ID Produto,Tipo,Temperatura Ar [K],Temperatura Processo [K],Velocidade Rotacao [rpm],Torque [Nm],Desgaste Ferramenta [min],Alvo,Tipo da Falha
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure
...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure

In [14]:
matriz1 = dados[['Temperatura Ar [K]', 'Torque [Nm]']]
print(matriz1)
matriz2 = dados[['Velocidade Rotacao [rpm]', 'Torque [Nm]']]

      Temperatura Ar [K]  Torque [Nm]
0                  298.1         42.8
1                  298.2         46.3
2                  298.1         49.4
3                  298.2         39.5
4                  298.2         40.0
...                  ...          ...
9995               298.8         29.5
9996               298.9         31.8
9997               299.0         33.4
9998               299.0         48.5
9999               299.0         40.2

[10000 rows x 2 columns]

In [29]:
df = pd.DataFrame(matriz1)
matriz1_10 = df.head(10)
print(matriz1_10)

   Temperatura Ar [K]  Torque [Nm]
0               298.1         42.8
1               298.2         46.3
2               298.1         49.4
3               298.2         39.5
4               298.2         40.0
5               298.1         41.9
6               298.1         42.4
7               298.1         40.2
8               298.3         28.6
9               298.5         28.0